* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
:root {
--main-color: #000000;
--color-blue : #2196F3;
--color-grey : #757575;
--color-white : #ffffff;
--color-deepblue : #2F303A;
--color-lightgrey : #F5F4FA;
font-family: Roboto;
}
html {
font-family: Roboto, Raleway;
color: var(--main-color);
width: 1600px;
height: 1880px;
}
a {
text-decoration: none;
}
.top {
width: 1600px;
height: 80px;
background: var(--color-white);
display: flex;
border-bottom: 1px solid #ECECEC;
}
.navigation {
flex-direction: row;
width: 611px;
height: 54px;
margin: 94px 280px 34px 280px;
}
.all {
width: 73px;
height: 38px;
}
.sites {
width: 128px;
height: 38px;
}
.apps {
width: 145px;
height: 38px;
}
.design {
width: 103px;
height: 38px;
}
.marketing {
width: 130px;
height: 38px;
}
button {
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 26px;
border-style: none;
background-color: var(--color-lightgrey);
}
.navigation button:hover {
color:var(--color-white);
background:var(--color-blue);
}
.nav-link {
width: 294px;
height: 16px;
display: flex;
flex-direction: row;
justify-content: space-evenly;
margin: 32px 453px 853px;
}
.logo {
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
color:var(--main-color);
position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 24px;
}
.logo span {
color: var(--color-blue);
}
nav a {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;    
color: var(--main-color);
}
nav a:hover {
color:var(--color-blue);
}
.contact-links a {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
color:var(--color-grey);
}
.contact-links a:hover {
color: var(--color-blue);
}
.mail-top {
position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;
}
.tel-top {
position: absolute;
width: 122px;
height: 16px;
left: 1263px;
top: 32px;
}
main {
background: inherit;
}
main li {
width: 370px;
height: 404px;
left: 215px;
top: 262px;
border: 1px solid #EEEEEE;
box-sizing: border-box;
background: var(--color-lightgrey)
}
.groups {
margin: 0px 215px 94px 215px;
padding: 0px;
}
.group1 {
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
margin: 34px 0px 30px 0px;
}
.group2 {
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
margin: 0px 0px 30px 0px;
}
.group3 {
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
margin: 0px 0px 0px 0px;
}
.title {
width: 322px;
height: 70px;
margin: 20px 24px 20px 24px;
}
.name {
font-weight: bold;
font-size: 18px;
line-height: 36px;    
letter-spacing: 0.06em;    
color:var(--main-color);
}
p {
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color:var(--color-grey);
margin: 4px 0px 0px 0px;
}
.logo-foot {
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color:var(--color-blue);
margin: 60px 1240px 0px 215px;
position: absolute;
}
.logo-foot span {
color:var(--color-white);
}
.footer-container {
display: flex;
width: 1600px;
height: 252px;
left: 0px;
top: 1628px;
background:var(--color-deepblue);
}
footer p {
font-family: Roboto;
font-style: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color:var(--color-white);
}
.adress {
position: absolute;
display: block;
width: 231px;
height: 81px;
margin: 111px 1154px 60px 215px;
}
.contact-links li {
margin-top: 9px;
} 
.adress p {
color: var(--color-white)
}